<div>
<img src="<%= game.image_url%>" alt="game_image">
<h3><%= game.name %></h3>
<p>Players: <%= game.player_range %></p>
<p>Play Time: <%= game.play_time %></p>
<button>Expand</button>
<button>Upvote</button>
<button>Downvote</button>
<button>Add to Collection</button>
</div>

<!-- to do: expand feature, figure out upvote, downvote, and cancel vote features -->

<!--
title
num_players
playtime
expand box button
add/remove game -->