<div>
  <section>
    <% @popular_games.each do |game| %>
      <%= render "game" %>
    <% end %>
  </section>

  <section>
    <% @popular_games.each do |game| %>
      <%= render "game" %>
    <% end %>
  </section>
</div>