<div>
  <section>
    <h2>Highest-Rated</h2>
    <ul>
        <% @popular_games.each do |game| %>
          <%= render "game", game: game %>
        <% end %>
    </ul>
  </section>

  <section>
    <h2>Recently Added</h2>
    <ul>
        <% @newest_games.each do |game| %>
          <%= render "game", game: game %>
        <% end %>
    </ul>
  </section>
</div>