<div>
  <h2>Highest-Rated</h2>

  <table class="game-display-table">
    <% until @popular_games.empty? %>
      <tr class="row">
        <% 3.times do  %>
          <%= render "game", game: @popular_games.shift %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <h2>Recently Added</h2>

  <table class="game-display-table">
    <% until @newest_games.empty? %>
      <tr class="row">
        <% 3.times do  %>
          <%= render "game", game: @newest_games.shift %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>