<div>
  <section>
    <ul>
      <h2>Highest-Rated</h2>
        <% @popular_games.each do |game| %>
          <li><%= render "game", game: game %></li>
        <% end %>
    </ul>
  </section>

  <section>
    <ul>
      <h2>Recently Added</h2>
        <% @newest_games.each do |game| %>
          <li><%= render "game", game: game %></li>
        <% end %>
    </ul>
  </section>
</div>