<h2>Games</h2>
<table class="game-display-table">
    <% until @found_games.empty? %>
      <tr class="row">
        <% 3.times do  %>
          <% if @found_games.first %>
            <%= render "game", game: @found_games.shift %>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
