.add-game-form {
  width: 76%;
  margin: 0 auto;
}

.add-game-form input, .add-game-form textarea {
  width: 76%;
  margin-top: 10px;
  padding: 5px;
}

.add-game-form label {
  width: 17%;
  text-align: right;
}

.add-game-form input[type=submit], .add-comment-form input[type=submit] {
  margin: 10px 28%;
  width: 40%;
  padding: 10px;
  background-color: orange;
  font-size: 24px;
}

.game-form-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.add-comment-form {
  margin: 0 auto;
  text-align: center;
}
.add-comment-form input[type=text]{
  width: 76%;
  margin: 10px auto;
  /*padding: 5px;*/
  height: 30px;
}

.errors {
  width: 100%
}

.field_with_errors {
  display: inline;
}